# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [95]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
from pprint import pprint
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [20]:
# Read csv file and store into a variable, with encoding to prevent language issues
df = pd.read_csv("output_data/cities.csv",encoding="utf-8")

In [21]:
# Deleted the unnecessary column
del df["Unnamed: 0"]

In [22]:
# Drop all the rows with NaN in them
df.dropna(inplace = True)

In [23]:
# Renaming the columns for better comprehension
weather_df = df.rename(columns={
    "Lat":"Latitude",
    "Lng":"Longitude",
    "Max Temp":"Temperature"
})

In [24]:
# Pulling up the dataframe to make sure everything went through
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
0,Port Elizabeth,60,ZA,1586656806,52,-33.92,25.57,66.20,2.60
1,Jamestown,1,US,1586657078,48,42.10,-79.24,42.01,2.10
2,Shelburne,1,CA,1586657009,80,44.08,-80.20,44.60,1.00
3,Vaini,20,TO,1586657079,65,-21.20,-175.20,80.60,3.10
4,Khatanga,100,RU,1586657079,97,71.97,102.50,17.96,5.25

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [31]:
# Stored latitude & longitude and humidity into variables
locations = weather_df[["Latitude", "Longitude"]]
weight = weather_df["Humidity"]

In [35]:
# Configuring gmaps
gmaps.configure(api_key=g_key)

In [37]:
# Plotting the heatmap
fig = gmaps.figure()

# Creating the heat layer
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=weight,
                                 dissipating=False,
                                 max_intensity=10,
                                 point_radius=1)
# Adding the heat layer
fig.add_layer(heat_layer)

# Showing the map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [205]:
# Setting conditions I want in the cities and displaying a count
cond1 = weather_df.loc[weather_df["Temperature"] >= 75]
cond2 = cond1.loc[cond1["Temperature"] <= 85]
cond3 = cond2.loc[cond2["Wind Speed"] < 5]
hotel_df = cond3.loc[cond3["Cloudiness"] < 5]
hotel_df.count()

City           11
Cloudiness     11
Country        11
Date           11
Humidity       11
Latitude       11
Longitude      11
Temperature    11
Wind Speed     11
dtype: int64

In [75]:
# Pulling up the table
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
26,Douentza,0,ML,1586657084,30,15.00,-2.95,84.34,3.53
99,Araouane,0,ML,1586657102,14,18.90,-3.53,80.01,0.83
100,Tessalit,0,ML,1586657032,14,20.20,1.01,77.38,1.93
202,Cabo Rojo,1,PR,1586657137,83,18.09,-67.15,82.00,2.10
205,Hervey Bay,0,AU,1586657137,32,-25.30,152.85,84.00,3.10
272,Mogadishu,1,SO,1586657158,74,2.04,45.34,83.23,4.31
304,Nueva Gerona,0,CU,1586657166,74,21.88,-82.80,80.29,2.07
325,Potot,2,PH,1586657173,68,12.20,123.43,83.32,3.79
405,Bubaque,1,GW,1586657197,77,11.28,-15.83,77.97,4.70
464,Road Town,1,VG,1586656985,74,18.42,-64.62,81.00,2.10
465,Caravelas,3,BR,1586657216,86,-17.71,-39.25,78.01,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [87]:
# Creating a Hotel Name column
#hotel_df = narrowed_city_df
hotel_df["Hotel Name"] = ""

C:\Users\jana\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [77]:
# Checking that the column has been created
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed,Hotel Name
26,Douentza,0,ML,1586657084,30,15.00,-2.95,84.34,3.53,
99,Araouane,0,ML,1586657102,14,18.90,-3.53,80.01,0.83,
100,Tessalit,0,ML,1586657032,14,20.20,1.01,77.38,1.93,
202,Cabo Rojo,1,PR,1586657137,83,18.09,-67.15,82.00,2.10,
205,Hervey Bay,0,AU,1586657137,32,-25.30,152.85,84.00,3.10,
272,Mogadishu,1,SO,1586657158,74,2.04,45.34,83.23,4.31,
304,Nueva Gerona,0,CU,1586657166,74,21.88,-82.80,80.29,2.07,
325,Potot,2,PH,1586657173,68,12.20,123.43,83.32,3.79,
405,Bubaque,1,GW,1586657197,77,11.28,-15.83,77.97,4.70,
464,Road Town,1,VG,1586656985,74,18.42,-64.62,81.00,2.10,
465,Caravelas,3,BR,1586657216,86,-17.71,-39.25,78.01,2.24,

In [187]:
# Creating parameters to use for the search
hotel_locations = hotel_df[["Latitude", "Longitude"]]
#hotel_lat = 15.00
#hotel_lng = -2.95	
#hotel_cities = hotel_df["City"]
#hotel_countries = hotel_df["Country"]
target_search = "hotel"
params = {
    #"city":hotel_cities,
    #"country":hotel_countries,
    "location":hotel_locations,
    "keyword":target_search,
    "radius":5000,
    "key": g_key
}

In [178]:
# Creating parameters to use for the search
#target_city = hotel_df["City"], hotel_df["Country"]
target_city = "Douentza, ML"
radius = 5000
keyword = "hotel"
target_url = ('https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    'address={0}&key={1}&radius={2}&keyword{3}').format(target_city, g_key, radius, keyword)

In [193]:
# Building the url and response. Then checking if the response is 200/confirmed
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#query = f'{url}?appid={g_key}location={hotel_locations}&keyword=hotel&radius=5000'
#response = requests.get(query)
response = requests.get(url, params=params)
#response = requests.get(target_url)
response

In [194]:
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=Latitude&location=Longitude&keyword=hotel&radius=5000&key=AIzaSyBah0bSOhD_OIPCYniplzIQKKLQ0RwfeXc

In [190]:
response_json = response.json()
pprint(response_json)

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [192]:
# Creating the path for the name of the Hotel
#response_json["results"][0]["address_components"][0]['long_name']

In [186]:
response_json["results"][0]['name']

In [206]:
# Creating a loop to append all the hotel names
for city in hotel_cities:
    hotel_locations = hotel_df[["Latitude", "Longitude"]]
    
    hotel_name = []
    
    target_search = "hotel"
    params = {"location":hotel_locations,
              "city":city,
              "keyword":target_search,
              "radius":5000,
              "key": g_key}
    
    response = requests.get(url, params=params).json()
    hotel_name.append(response)

In [207]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [208]:
hotel_info

['\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Douentza</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Douentza</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Araouane</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Araouane</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Tessalit</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Tessalit</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Cabo Rojo</dd>\n<dt>Country</dt><dd>PR</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Cabo Rojo</dd>\n<dt>Country</dt><dd>PR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Hervey Bay</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Hervey Bay</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Mogadishu</dd>\n<dt>Country</dt><dd>SO</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Mogadishu</dd>\n<dt>Country</dt><dd>SO</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Nueva Gerona</dd>\n<dt>Country</dt><dd>CU</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Nueva Gerona</dd>\n<dt>Country</dt><dd>CU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Potot</dd>\n<dt>Country</dt><dd>PH</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Potot</dd>\n<dt>Country</dt><dd>PH</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Bubaque</dd>\n<dt>Country</dt><dd>GW</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Bubaque</dd>\n<dt>Country</dt><dd>GW</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Road Town</dd>\n<dt>Country</dt><dd>VG</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Road Town</dd>\n<dt>Country</dt><dd>VG</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Caravelas</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n</dd>\n<dt>City</dt><dd>Caravelas</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n']

In [209]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))